# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/



# =========================
# Node Modules
# =========================

node_modules/

# =========================
# Vite
# =========================

dist/
.vite/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Dataset
# =========================

dataset/
small_dataset/

# =========================
# Logs
# =========================

*.log